.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  bottom: 100px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.icon-link{
  position: absolute;
  bottom: 0;
  right: 0;
}

.split {
  top: 64px;
  height: calc(100% - 64px);
  width: calc((100% - 64px) / 2);
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.left{
  display: flex;
  position: fixed;
  left: 64px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  display: flex;
  position: fixed;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  padding-left: 3em;
  padding-right: 3em;
}

.App-link {
  color: #09d3ac;
}

.des { 
  color: black;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}


.home-parent {
  display: flex;
  flex-direction: column;
}

.homeHead {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.intro {
  margin-left: 50px;
}

.card {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}